
SearchAlgorithms/\.vs/SearchAlgorithms/v15/\.suo

SearchAlgorithms/\.vs/SearchAlgorithms/v15/Server/sqlite3/storage\.ide-wal

SearchAlgorithms/SearchAlgorithms/bin/Debug/netcoreapp2\.1/SearchAlgorithms\.dll

SearchAlgorithms/SearchAlgorithms/bin/Debug/netcoreapp2\.1/SearchAlgorithms\.pdb

SearchAlgorithms/SearchAlgorithms/obj/Debug/netcoreapp2\.1/SearchAlgorithms\.dll

SearchAlgorithms/SearchAlgorithms/obj/Debug/netcoreapp2\.1/SearchAlgorithms\.pdb
